.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.grid_cont {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.header {
  margin-top: 80px;
  margin-bottom: 0px;
  color: #37211d;
  margin-bottom: 50px;
}

.addemployee {
  color: black;
}
