.container
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    font-family: "Poppins";
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 100;
    width: 550px;
    height: auto;
    overflow: hidden;
    background-color: #37211d;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.specialImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    cursor: pointer;
}
.special{
    display: flex;
    flex-direction: row;
}
.specialSpace{
    width:80%;
}