.checkout {
  position: relative;
  top: 200px;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 1.5rem;
  backdrop-filter: blur(8px);
  margin: auto;
  width: 432px;
  padding: 4rem 3rem 0.5rem;
  border-radius: 1.5rem;
}

.checkout button {
  background-color: #1751d0;
}
