.productpage {
  color: black;
  display: flex;
  margin-top: 200px;
  column-gap: 20px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviws {
  display: flex;
}
.purchase {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img {
  width: 100%;
}
.productpage button {
  background-color: var(--buttons-color);
  width: 60%;
}

.name {
}

.productcontainer {
}
