.productcontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    column-gap: 20px;
}
.productpage {
  color: black;
  display: flex;
  margin-top: 70px;
  column-gap: 20px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviws {
  display: flex;
}
.purchase {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img {
  width: 100%;
}
.productpage button {
  background-color: var(--buttons-color);
  width: 60%;
  transition: 0.6s;
  color: white;
}
.productpage button:hover {
  background-color: #ff8f2d;
  box-shadow: 0px 0px 6px #ff8f2d;
  text-shadow: 0px 0px 1px white;
}

.name {
}

.productcontainer {
}

.seller {
  margin: 40px;
}

.category {
  float: right;
  margin-bottom: 50px;
  margin-left: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
  color: black;
}

.date {
  margin-right: auto;
  margin-bottom: 20px;
}

section {
  padding: 10px;
}

section:not(:last-child) {
  content: "";
  border-right: 2px solid; /* Adjust the color and style as needed */
  margin-right: 10px; /* Adjust the spacing between items */
  border-left: 2px solid;
  border-color: lightgray;
}
