.productcontainer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 70px;
    column-gap: 20px;
}
.productpage {
  color: black;
  display: flex;
  margin-top: 70px;
  column-gap: 20px;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reviws {
  display: flex;
}
.purchase {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img {
  width: 100%;
}
.productpage button {
  background-color: var(--buttons-color);
  width: 60%;
}

.name {
}

.productcontainer {
}

.seller {
  margin: 40px;
}

.category {
  float: right;
  margin-bottom: 50px;
  margin-left: auto;
  background-color: rgb(204, 204, 204);
  border-radius: 15px;
  width: fit-content;
  padding: 5px;
  color: black;
}
