.chat_card{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #efc53b;
    border-radius: 5px;
}
.chat_card:hover{
    background-color: #ad8500;
}

.chat_card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.info p{
    color:#8b3902d3;
}

.time{
    color: #9b9b9b;
    font-size: 0.8rem;
}