.searchbar {
  margin: 10px;
  width: 30%;
  height: 30px;
  padding-left: 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: #ffffff;
  color: #8f7009;
  border-radius: 4px;
  border-color: #8f7009;
  border-width: 1px;
}
.searchbar :focus {
  border-color: #8f7009;
}
.searchbar::placeholder {
  color: #8f7009;
}
