.checkoutpage {
  color: black;
  position: relative;
  top: 100px;
  display: flex;
  width: 55%;
  float: left;
  flex-direction: column;
  margin-left: 40px;
}

.checkoutpage button {
  color: white;
  background-color: #ce8240;
  width: 20%;
  font-size: var(--small-font-size);
  text-align: center;
}

.smallproduct {
  width: 50%;
}
