.navbar {
  font-family: "Aladin";
  height: 60px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #2c1c18;
}
.logocontainer {
  margin-left: 50px;
}
.logo {
  width: 230px;
}
.contents {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-around;
  margin-right: 30px;
  gap: 10px;
}
.contents li {
  color: #e0b21a;
  transition: 0.7s;
  font-size: 1.3em;
}
.contents li:hover {
  text-shadow: 0px 0px 3px #ebd17c;
  cursor: pointer;
}
.active {
  color: #e0b21a;
  text-shadow: 0px 0px 4px #efc53b;
  cursor: pointer;
}
