.barter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.barter__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    border: 1px solid rgb(255, 244, 215);
    padding: 50px;
    border-radius: 10px;
    background-color: #F5EFE6;
}
.barter__container__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bartered__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 30%;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 60px;
    margin: 20px;
    background-color: #C9A66B;
}

.bartered__product input {
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    transition: 0.4s;
  }
  
  .bartered__product input:focus {
    box-shadow: 1px 1px 10px black;
  }


.exchange__icon {
    height: 100px;
    width: 100px;
    margin: 20px;
}

.exchange__text{
    color:#C9A66B;
}

.barter__container__button{
    padding: 20px;
}