.table_cont {
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color : #000000;
  }
  
  th,
  td {
    border: 1px solid #2d2424;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #c1d6b6;
  }
  
  @media all and (max-width: 767px) {
    th,
    td {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }
  
    th {
      text-align: left;
    }
  }
  